.obj/
chatserver
create_account
create_armor
create_character
create_weapons
motd.txt
my
runtime/
server
update_server
zones/generic/weapons.itm
zones/generic/armor.itm
*.ilog
*.elog
*.log
*.vpj
*.vpw
*.vpwhist
*.vtg
